<launch>


  <node name="quadrotor_ec_wander" pkg="pips_egocylindrical" type="controller_node" output="screen">
    <remap from="/cmd_vel_mux/input/navi" to="raw_cmd_vel"/>
    <remap from="odom" to="ground_truth/state"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="fixed_frame_id" value="world"/>
  </node>
  

</launch>
