<launch>

  <arg name="use_recovery_behaviors" default="true"/>

  <arg name="decimate" default="true"/>
  <arg name="propagate" default="false"/>

  <arg name="gazebo" default="true"/>
  <arg name="pips_namespace" default="/move_base/PipsDWAPlannerROS"/>
  <arg name="depth_image_raw" default="/camera/depth/image_raw"/>
  <arg name="depth_info_raw" default="/camera/depth/camera_info"/>



  <arg name="debug" default="false"/>
  <arg name="valgrind" default="false"/>
  
  <arg name="valgrind_prefix" default="valgrind --leak-check=yes --track-origins=yes"/>
  
  <arg name="debug_prefix_value" default="$(arg valgrind_prefix)" if="$(arg valgrind)"/>
  <arg name="debug_prefix_value" default="xterm -e gdb -ex run --args" unless="$(arg valgrind)"/>

  <arg name="debug_prefix" value="" unless="$(arg debug)"/>
  <arg name="debug_prefix" value="$(arg debug_prefix_value)" if="$(arg debug)"/>



  <arg name="image_to_use" default="egocylinder/image"/>
  <arg name="info_to_use" default="egocylinder/data"/>

  <!--<param name="/egocylinder/depth_to_egocylindrical_nodelet/width" value="512"/>
  <param name="/egocylinder/depth_to_egocylindrical_nodelet/height" value="80"/> -->
  <include file="$(find nav_scripts)/launch/quadrotor/quadrotor_egocylinder.launch"/>

  <include file="$(find quadrotor_interface)/launch/velocity_smoother.launch.xml"/>

  <node name="egocircle_node" pkg="pips_dwa_implementation" type="ego_circle"/>

  <!--rosrun topic_tools throttle messages /egocylinder/filtered_points 1 /collisions -->
  <!--<node name="filtered_points_throttle" pkg="topic_tools" type="throttle" args="messages /egocylinder/filtered_points 1 /collisions"/> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="log" clear_params="true" launch-prefix="$(arg debug_prefix)">
      <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find nav_configs)/config/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/global_costmap_params.yaml" command="load"/>
      
      <rosparam file="$(find nav_configs)/config/move_base_params.yaml" command="load"/>

      
      <!--<rosparam file="$(find nav_configs)/config/global_planner_params.yaml" command="load"/> -->
      <rosparam file="$(find nav_configs)/config/navfn_global_planner_params.yaml" command="load"/>

      <param name="base_local_planner" value="egocylindrical_dwa/EgocylindricalPipsDWAPlannerROS"/>
      <rosparam file="$(find nav_configs)/config/pips_dwa_local_planner_common_params.yaml" command="load" ns="EgocylindricalPipsDWAPlannerROS"/>
      <rosparam file="$(find nav_configs)/config/local_planner_common_params.yaml" command="load" ns="EgocylindricalPipsDWAPlannerROS"/>
      
      
      <rosparam file="$(find nav_configs)/config/custom_recovery_params.yaml" command="load" if="$(arg use_recovery_behaviors)"/>
      <param name="recovery_behavior_enabled" value="false" unless="$(arg use_recovery_behaviors)"/>
      
      <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>
      
      
      <param name="EgocylindricalPipsDWAPlannerROS/egocylindrical_image_cc_wrapper/egocylindrical_image_topic" value="$(arg image_to_use)" />
      <param name="EgocylindricalPipsDWAPlannerROS/egocylindrical_image_cc_wrapper/egocylindrical_info_topic" value="$(arg info_to_use)" />

      <!-- <remap from="/move_base/EgocylindricalPipsDWAPlannerROS/egocylindrical_image_cc_wrapper/egocylindrical_image_collision_checker/collisions" to="/collisions"/> -->
      
      <param name="EgocylindricalPipsDWAPlannerROS/egocylindrical_image_cc_wrapper/egocylindrical_image_collision_checker/model_type" value="9" />
      
      <param name="EgocylindricalPipsDWAPlannerROS/sim_time" value="4"/>
      
      <rosparam file="$(find nav_configs)/config/quadrotor/ec_dwa.yaml" command="load" />
      
      <param name="EgocylindricalPipsDWAPlannerROS/egocylindrical_image_cc_wrapper/egocylindrical_image_collision_checker/param_name" value="/simplified_robot_description" />

  </node>

</launch>
