<launch>
    <arg name="debug" default="false"/>
    <arg name="debug_args" default="" unless="$(arg debug)"/>
    <arg name="debug_args" default="xterm -e gdb -ex run --args" if="$(arg debug)"/>
    
    <node launch-prefix="$(arg debug_args)" name="msf_position_pose_filter" pkg="msf_updates" type="position_pose_sensor" clear_params="true" output="screen">
      <!--<remap from="msf_core/hl_state_input" to="/auk/fcu/ekf_state_out" /> -->
      <!--<remap from="msf_core/correction" to="/auk/fcu/ekf_state_in"/> -->

	    <!--<remap from="msf_updates/position_input" to="/leica/position" /> -->
      <!--remap from="msf_updates/transform_input" to="vicon/auk/auk" /--> 
      
	    <remap from="msf_updates/navsatfix_input" to="fix" />	
	    <remap from="msf_core/imu_state_input" to="imu"/> <!--"mobile_base/sensors/imu_data" /> -->
      <remap from="msf_updates/pose_with_covariance_input" to="odom_pose"/> -->
      <!--<remap from="msf_updates/odometry_input" to="odom"/>-->
      <rosparam file="$(find nav_configs)/config/msf_turtlebot_gps.yaml"/>
    </node>
    
    <node name="state_base_link_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 state base_footprint 50"/> 
   
   
    <node name="odom_throttler" pkg="topic_tools" type="throttle" args="messages odom 25 throttled_odom"/>
   
    <node name="odom_to_pose" pkg="msf_updates" type="odom_to_pose.py">
      <remap from="odom" to="throttled_odom"/>
    </node>
   
</launch>

