<launch>
  <arg name="world_file" default="$(find nav_configs)/world/fourth_floor_10x.world"/>
  <arg name="map_file" default="$(find nav_configs)/maps/fourth_floor_gazebo_10x.yaml"/>
  <arg name="ground_truth_map_file" default="$(find nav_configs)/maps/ground_truth/fourth_floor_10x.yaml"/>
  <arg name="gui" default="$(optenv GM_PARAM_GAZEBO_GUI true)"/>

  <include file="$(find nav_configs)/launch/gazebo_general.launch">
    <arg name="world_file" value="$(arg world_file)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="ground_truth_map_file" value="$(arg ground_truth_map_file)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

</launch>
