<launch>
  <arg name="world_file" default="$(find nav_configs)/world/empty_room_20x20.world"/>
  <arg name="map_file" default="$(find nav_configs)/maps/empty_room_20x20.yaml"/>
  <!--<arg name="ground_truth_map_file" default="$(find nav_configs)/maps/ground_truth/?.yaml"/>--> <!-- Fill in when available-->
  <arg name="gui" default="$(optenv GM_PARAM_GAZEBO_GUI true)"/>
  <arg name="debug" default="false"/>

  <include file="$(find nav_configs)/launch/gazebo_general.launch">
    <arg name="world_file" value="$(arg world_file)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <!--<arg name="ground_truth_map_file" value="$(arg ground_truth_map_file)"/>--> <!-- If no value provided, groundtruth map is simply not published-->
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
</launch>
