<launch>
  <arg name="world_file" default="$(find nav_configs)/world/empty_1m_7.world"/>
  <arg name="map_file" default="$(find nav_configs)/maps/ground_truth/empty_1m_7.yaml"/>
  <arg name="gui" default="$(optenv GM_PARAM_GAZEBO_GUI true)"/>

  <include file="$(find nav_configs)/launch/gazebo_general.launch">
    <arg name="world_file" value="$(arg world_file)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

</launch>
