<launch>

  <!-- Turtlebot bringup -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

  <!-- Hokuyo lidar bringup -->
  <node name="lidar" pkg="hokuyo_node" type="hokuyo_node"/>



  <!-- Turn on AMCL -->


  <!-- Activate move_base for teb navigation -->



  <!-- Base to laser transform -->
  <node name="base_laser_transfrom" pkg="tf" type="static_transform_publisher"
    args="0 0 0.4 0 0 3.14 /base_link /laser 100"/>


  <node name="gmapping_" pkg="gmapping" type="slam_gmapping" />
</launch>
