<launch>

  <!-- Turtlebot bringup -->



  <node name="gmapping_" pkg="gmapping" type="slam_gmapping" />



  <!-- Activate move_base for navigation -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="log">
  	<rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="global_costmap" />
  	<rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="local_costmap" />
  	<rosparam file="$(find nav_configs)/config/local_costmap_params.yaml" command="load" />
  	<rosparam file="$(find nav_configs)/config/global_costmap_params.yaml" command="load" />
  	<rosparam file="$(find nav_configs)/config/base_local_planner_params.yaml" command="load" />

    <!-- This is where the Turtlebot expects its commands -->
    <remap from="/cmd_vel" to="/cmd_vel_mux/input/navi" />

    <!-- This will use our planner -->
    <param name="controller_frequency" value="10" type="double"/>


  </node>


</launch>
