<launch>

<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find fullsize_racecar_description)/urdf/racecar.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racecar -reference_frame DefaultStart -b" />

  <!-- ros_control racecar launch file -->
  <include file="$(find fullsize_racecar_control)/launch/racecar_control.launch" ns="/"/>

  <!-- Spawn the MUXs -->
  <arg name="racecar_version" default="racecar-v2" />
  <include file="$(find racecar)/launch/mux.launch" ns="vesc" />

  <node name="odom_correcter" pkg="gazebo_odom_correction" type="odom_correcter">
    <remap from="odom_in" to="groundtruth/odom"/>
    <remap from="odom_out" to="vesc/odom"/>
  </node>

  <node name="odom_relay" pkg="topic_tools" type="relay" args="vesc/odom odom" />
</launch>
