<launch>
  <arg name="robot_model" default="'$(find nav_configs)/robots/pioneer3at.urdf.xacro'"/>
  
    <!-- Different files for different sensors: hokuyo, realsense, stereo -->
    <arg name="robot"      value="pioneer3at"/> 
    <arg name="3d_sensor" value="realsense"/>  

      <arg name="urdf_file" default="$(find xacro)/xacro $(arg robot_model) --inorder" />
      <param name="robot_description" command="$(arg urdf_file)" />
      
      <arg name="urdf_file2" default="$(find xacro)/xacro $(arg robot_model) --inorder details:=false" />
      <param name="simplified_pioneer_description" command="$(arg urdf_file2)" />
      
      <!-- Gazebo model spawner -->
      <node name="spawn_robot_model" pkg="gazebo_ros" type="spawn_model"
            args="-x -13 -y .5 -unpause -urdf -param robot_description -model pioneer"/>
      

    <arg name="pkg_gazebo_worlds" default="$(find p3at_tutorial)"/>


    <env name="GAZEBO_MODEL_PATH" value="$(arg pkg_gazebo_worlds)/models:$(optenv GAZEBO_MODEL_PATH)"/>
     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"  required="true">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>
    
    <!-- Velocity muxer -->
      <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"  required="true"/>
      <node pkg="nodelet" type="nodelet" name="cmd_vel_mux"
            args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager"  required="true">
        <param name="yaml_cfg_file" value="$(find turtlebot_bringup)/param/mux.yaml" />
        <remap from="cmd_vel_mux/output" to="cmd_vel"/>
      </node>
    
    <!-- Fake laser -->
    <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"  required="true"/>
    <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
          args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager"  required="true">
      <param name="scan_height" value="10"/>
      <param name="output_frame_id" value="depth"/> 
      <param name="range_min" value="0.45"/>
      <remap from="image" to="/realsense/camera/depth/image_raw"/>
      <remap from="scan" to="/scan"/>
    </node>
    
    <node pkg="nodelet" type="nodelet" name="depthimage_to_pointcloud"
          args="load depth_image_proc/point_cloud_xyz laserscan_nodelet_manager"  required="true">
      <remap from="image_rect" to="/realsense/camera/depth/image_raw"/>
      <remap from="camera_info" to="/realsense/camera/depth/camera_info"/>
      <remap from="points" to="/realsense/depth/points"/>
    </node>
    

  <!--END turtlebot_gazebo turtlebot_world.launch -->

  <node name="base_link_footprint_tf" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint"/>

  <node name="map_odom_publisher" pkg="gazebo_utils" type="map_transform_publisher" required="true">
    <param name="base_frame_id" value="base_link"/>
  </node>
  
  <node name="bumper_collision_detector" pkg="nav_scripts" type="bumper_collision_detector.py" required="true"/>

</launch>
