<launch>

    <!-- Turtlebot bringup -->
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

    <!-- Hokuyo lidar bringup -->
    <node name="lidar" pkg="hokuyo_node" type="hokuyo_node"/>

    <!-- Make map of TSRB 4th Floor available -->
    <node name="map" pkg="map_server" type="map_server" args="$(find pips_main)/maps/bathroom_elevator_edited.yaml"/>

    <!-- Turn on AMCL -->
    <node name="localization" pkg="amcl" type="amcl"/>

    <!-- Activate move_base for navigation -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find pips_main)/config/common_costmap_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find pips_main)/config/common_costmap_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find pips_main)/config/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find pips_main)/config/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find pips_main)/config/teb_local_planner_params.yaml" command="load"/>
        <remap from="/cmd_vel" to="/cmd_vel_mux/input/navi"/>

        <!-- For Teb controller -->
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="10.0" />
    </node>

    <!-- Base to laser transform -->
    <node name="base_laser_transfrom" pkg="tf" type="static_transform_publisher" args="0 0 0.4 0 0 3.14 /base_link /laser 100"/>

</launch>
