<launch>
  <arg name="depth_image_raw" default="/camera/depth/image_raw"/>
  <arg name="depth_info_raw" default="/camera/depth/camera_info"/>
  
  <include file="$(find informed_pips_dwa)/launch/brute_force.launch">
    <arg name="depth_image_raw" value="$(arg depth_image_raw)"/>
    <arg name="depth_info_raw" value="$(arg depth_info_raw)"/>
  </include>

</launch>
