<launch>

  <arg name="decimate" default="true"/>
  <arg name="propagate" default="false"/>

  <arg name="gazebo" default="true"/>
  <arg name="pips_namespace" default="/move_base/PipsDWAPlannerROS"/>
  <arg name="depth_image_raw" default="/camera/depth/image_raw"/>
  <arg name="depth_info_raw" default="/camera/depth/camera_info"/>



  <arg name="debug" default="false"/>

  <arg name="debug_prefix" value="" unless="$(arg debug)"/>
  <arg name="debug_prefix" value="xterm -e gdb --args" if="$(arg debug)"/>



  <arg name="image_to_use" default="egocylinder/image"/>
  <arg name="info_to_use" default="egocylinder/data"/>

  <include file="$(find egocylindrical)/launch/nodelets.launch"/>

  <!--rosrun topic_tools throttle messages /egocylinder/filtered_points 1 /collisions -->
  <!--<node name="filtered_points_throttle" pkg="topic_tools" type="throttle" args="messages /egocylinder/filtered_points 1 /collisions"/> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="log" clear_params="false" launch-prefix="$(arg debug_prefix)">
      <rosparam file="$(find nav_configs)/config/pips_costmap_params.yaml" command="load" ns="global_costmap"/>
    <!--  <rosparam file="$(find nav_configs)/config/pips_costmap_params.yaml" command="load" ns="local_costmap"/> -->
      <rosparam file="$(find nav_configs)/config/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/move_base_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/global_planner_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/navfn_global_planner_params.yaml" command="load"/>

      <param name="base_local_planner" value="egocylindrical_dwa/EgocylindricalPipsDWAPlannerROS"/>
      <rosparam file="$(find nav_configs)/config/ec_pips_dwa_local_planner_params.yaml" command="load"/>

      <remap from="/cmd_vel" to="/cmd_vel_mux/input/navi"/>
      
      <param name="odom_topic"                                value="/odom" />
      
      <param name="EgocylindricalPipsDWAPlannerROS/egocylindrical_image_cc_wrapper/egocylindrical_image_topic" value="$(arg image_to_use)" />
      <param name="EgocylindricalPipsDWAPlannerROS/egocylindrical_image_cc_wrapper/egocylindrical_info_topic" value="$(arg info_to_use)" />

      <remap from="/move_base/EgocylindricalPipsDWAPlannerROS/egocylindrical_image_cc_wrapper/egocylindrical_image_collision_checker/collisions" to="/collisions"/>
      <param name="controller_frequency" value="10"/>
      
      <!-- todo: change this to the correct namespace, and move those parameters to this package -->
      <rosparam file="$(find informed_pips_dwa)/param/cchecker.yaml" command="load" ns="$(arg pips_namespace)/PIPS_controller/PipsDWAController/PipsCollisionChecker"/>

  </node>

</launch>
