<launch>


    <node name="astar_node" pkg="global_planner" type="planner" output="screen">
      <remap from="astar_node/goal" to="/move_base_simple/goal"/>
      <remap from="global_costmap" to="costmap"/>
      <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="costmap"/>
      <rosparam file="$(find global_planner_plus)/config/global_costmap.yaml" command="load" ns="costmap"/>
      <param name="planner/use_dijkstra" value="false"/>
      <rosparam file="$(find global_planner_plus)/config/global_planner.yaml" command="load" ns="planner"/>
    </node>
    
    <node name="dj_node" pkg="global_planner" type="planner" output="screen">
      <remap from="dj_node/goal" to="/move_base_simple/goal"/>
      <remap from="global_costmap" to="costmap"/>
      <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="costmap"/>
      <rosparam file="$(find global_planner_plus)/config/global_costmap.yaml" command="load" ns="costmap"/>
      <rosparam file="$(find global_planner_plus)/config/global_planner.yaml" command="load" ns="planner"/>
    </node>
    
    <node name="dj_old_node" pkg="navfn" type="navfn_node" output="screen">
      <remap from="dj_old_node/goal" to="/move_base_simple/goal"/>
      <remap from="global_costmap" to="costmap"/>
      <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="costmap"/>
      <rosparam file="$(find global_planner_plus)/config/global_costmap.yaml" command="load" ns="costmap"/>
      <!--<rosparam file="$(find global_planner_plus)/config/global_planner.yaml" command="load" ns="planner"/> -->
    </node>
  
</launch>
