<launch>

  <arg name="use_recovery_behaviors" default="true"/>
  
  <include file="$(find informed_pips_dwa)/launch/regression_goal.launch">
    <arg name="use_recovery_behaviors" value="$(arg use_recovery_behaviors)"/>
  </include>
  
  <include file="$(find egocylindrical)/launch/nodelets.launch"/>

</launch>
