<launch>
  <rosparam command="delete" param="/move_base"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="log" clear_params="true">

      <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find nav_configs)/config/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/old_dwa_local_planner_params.yaml" command="load"/>
      <remap from="/cmd_vel" to="/cmd_vel_mux/input/navi"/>
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <param name="controller_frequency" value="10.0" />
  </node>

</launch>
