<launch>

<arg name="rate" default="1"/>

<!-- rosservice call /rtabmap/reset_odom "{}" -->]
<!-- Actually, can just set a ros parameter to auto reset odom when visual odom lost, though it isn't accessible from the stock rtabmap launch file -->
<!--
<arg name="bag_files" value=" /media/justin/data/justin/bag_files/jin_hall_mapping/empty_corridor_to_old_lab_space.bag /media/justin/data/justin/bag_files/jin_hall_mapping/empty_corridor_to_old_lab_space_2.bag /media/justin/data/justin/bag_files/jin_hall_mapping/corridor_more_conservative.bag /media/justin/data/justin/bag_files/jin_hall_mapping/corridor_less_conservative.bag /media/justin/data/justin/bag_files/jin_hall_mapping/old_to_new_less_objects.bag /media/justin/data/justin/bag_files/jin_hall_mapping/old_to_new_1.bag /media/justin/data/justin/bag_files/jin_hall_mapping/old_to_new_2.bag " />
-->

<arg name="bag_files" default=" /media/justin/data/real_testing/rtabmap_records/processed_1_4.bag"/>

<!-- /media/justin/data/real_testing/test_1/test_1.bag /media/justin/data/real_testing/test_1/test_2.bag /media/justin/data/real_testing/test_1/test_3.bag /media/justin/data/real_testing/test_1/test_4.bag /media/justin/data/real_testing/test_1/test_5.bag /media/justin/data/real_testing/test_1/test_6.bag /media/justin/data/real_testing/test_1/test_7.bag /media/justin/data/real_testing/test_1/test_8.bag /media/justin/data/real_testing/test_1/test_9.bag /media/justin/data/real_testing/test_1/test_10.bag  "/> -->


<!-- /media/justin/data/real_testing/test_2/test_1.bag /media/justin/data/real_testing/test_2/test_2.bag /media/justin/data/real_testing/test_2/test_3.bag /media/justin/data/real_testing/test_2/test_4.bag /media/justin/data/real_testing/test_2/test_5.bag /media/justin/data/real_testing/test_2/test_6.bag /media/justin/data/real_testing/test_2/test_7.bag /media/justin/data/real_testing/test_2/test_8.bag /media/justin/data/real_testing/test_2/test_9.bag /media/justin/data/real_testing/test_2/test_10.bag -->


<!-- rosrun image_view image_view image:=/camera/rgb/image_color -->


<include file="$(find tb)/launch/rosbag_play_turtlebot.launch" >
  <arg name="rviz" value="false"/>
</include>

<node name="rtabmap_odom_resetter" pkg="nav_scripts" type="rtabmap_odom_resetter.py" />


<node name="bag_player" pkg="rosbag" type="play" args="$(arg bag_files) --clock --pause --skip-empty=1 -r $(arg rate)  ">
  <remap from="/camera/depth/image" to="/camera/depth/image_raw"/>
  <remap from="/camera/rgb/image_color" to="/camera/rgb/image_raw"/>
</node>

</launch>
