<launch>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="rgb_topic" value="/camera/rgb/image_raw"/>
    <arg name="depth_topic" value="/camera/depth/image_raw"/>
    <arg name="camera_info_topic" value="/camera/rgb/camera_info"/>
    <arg name="frame_id" value="base_footprint"/>

  </include>  


  

</launch>
