<launch>
  <param name="use_sim_time" type="bool" value="True"/>
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="rgb_topic" value="/camera/rgb/image_rect_color"/>
    <arg name="depth_topic" value="/camera/depth_registered/sw_registered/image_rect"/>
    <arg name="camera_info_topic" value="/camera/rgb/camera_info"/>
    <arg name="frame_id" value="base_footprint"/>
    <arg name="args" value="delete_db_on_start" />
    <arg name="odom_frame_id" value="map"/>
    <arg name="map_frame_id" value="rtab_map"/>
    <arg name="database_path" value="~/.ros/rtabmap_test_1_4_2.db" />
    <arg name="cfg" value="$(find nav_scripts)/data/offline4.ini"/>
    <arg name="visual_odometry" value="true"/>
    <arg name="localization" value="true"/>
  </include>  


  

</launch>
