<launch>
  <param name="use_sim_time" type="bool" value="True"/>
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">

    <arg name="frame_id" value="base_footprint"/>
    <arg name="rgb_topic" value="/camera/rgb/image_rect_color"/>
    <arg name="depth_topic" value="/camera/depth_registered/sw_registered/image_rect"/>
    <arg name="use_sim_time" value="true"/>
    
    <arg name="database_path" value="/media/justin/data/justin/cloudshell2/rtab_db/bag_2018-01-22-17-59-49_10x.db" />
    <arg name="cfg" value="$(find nav_scripts)/data/offline4.ini"/>
    <arg name="visual_odometry" value="true"/>
    <arg name="localization" value="true"/>
  </include>  


  <include file="$(find tb)/launch/rosbag_play_turtlebot.launch" >
    <arg name="rviz" value="false"/>
  </include>




</launch>
