<launch>
  <arg name="use_recovery_behaviors" default="true"/>
  
  <arg name="converter" default="false"/>
  
  <arg name="egocircle" default="false"/>
  
  <include file="$(find turtlebot_navigation)/launch/includes/velocity_smoother.launch.xml"/>

  <node name="egocircle_node" pkg="egocircle" type="ego_circle" if="$(arg egocircle)"/>

  <!-- xterm -e gdb -ex run - -args -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" launch-prefix="">
      <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find nav_configs)/config/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/global_costmap_params.yaml" command="load"/>


      <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>
      
      <rosparam file="$(find nav_configs)/config/local_planner_common_params.yaml" command="load" ns="TebLocalPlannerROS"/>
      <rosparam file="$(find nav_configs)/config/move_base_params.yaml" command="load"/>
      
      <param name="recovery_behavior_enabled" value="false" unless="$(arg use_recovery_behaviors)"/>

      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <rosparam file="$(find nav_configs)/config/teb_local_planner_params.yaml" command="load"/>
      
      <param name="TebLocalPlannerROS/include_costmap_obstacles" value="false" if="$(arg egocircle)"/>
      <param name="TebLocalPlannerROS/include_egocircle_obstacles" value="$(arg egocircle)"/>
      
      <!--Ultimately, we do want to disable the local costmap observation sources. However, currently the trajectory feasibility 
          analysis depends on it. Once it has been updated to use the egocircle we can disable it again. -->
      <!-- <param name="local_costmap/obstacle_layer/observation_sources" value="false" if="$(arg egocircle)"/> -->
      
      <rosparam file="$(find nav_configs)/config/teb_costmap_converter_params.yaml" command="load" if="$(arg converter)"/> 

      
  </node>



</launch>
