<launch>
  <arg name="viz" default="false"/>
  <arg name="cmd_topic" default="cmd_vel_mux/input/navi"/>
  <arg name="model_path" default="$(find dl_models)/downloads/laser-goal-cmd-v10-global_general-2.pb"/>
  <!--<arg name="model_path" default='/home/justin/simulation_data/tensorflow_root/keras/laser-goal-cmd-v10-global_general/2/checkpoints/optimized_model.pb' />-->

  <node name="laser_controller" pkg="p2d_ros" type="laser_controller.py" output="log">
    <param name="model_path" value="$(arg model_path)"/>
    <remap from="goal" to="move_base_simple/goal"/>
    <remap from="cmd" to="$(arg cmd_topic)"/>
  </node>

  <node name="egocircle" pkg="egocircle" type="ego_circle"/>
  
  <group if="$(arg viz)">
    <node name="goal_viz" pkg="p2d_ros" type="goal_pub.py"/>
      
    <node name="twist_viz" pkg="pips_visualization" type="twist_viz.py" >
      <remap from="twist" to="$(arg cmd_topic)"/>
      <remap from="path_out" to="viz/twist"/>
      <param name="sim_time" value="5"/>
    </node>
  
  </group>
  
</launch>
    
