<launch>

  <node name="base_odom_localization_node" pkg="robot_localization" type="ukf_localization_node" clear_params="true">
    <rosparam file="$(find nav_configs)/config/turtlebot_localization.yaml" command="load"/>
    <rosparam file="$(find nav_configs)/config/turtlebot_localization2.yaml" command="load"/>
  </node>
  
  <!--
  <node name="odom_map_localization_node" pkg="robot_localization" type="ukf_localization_node" clear_params="true">
    <rosparam file="$(find nav_configs)/config/turtlebot_localization.yaml" command="load"/>
    <rosparam file="$(find nav_configs)/config/turtlebot_localization2.yaml" command="load"/>
    <remap from="/odometry/filtered" to="odometry/filtered2" />
  </node>
    -->
  <node name="navsat_transform_node" pkg="robot_localization" type="navsat_transform_node" clear_params="true">
    <param name="magnetic_declination_radians" value="0"/>
    <param name="yaw_offset" value="0"/>
    <param name="use_odometry_yaw" value="true"/>
    <param name="broadcast_utm_transform_as_parent_frame" value="true"/>
    <param name="broadcast_utm_transform" value="true"/>
    <remap from="/imu/data" to="imu" />
    <!--<remap from="/imu/data" to="mobile_base/sensors/imu_data" /> -->
    <remap from="/gps/fix" to="fix" />
    <remap from="/odometry/filtered" to="odom" />
  </node>

  
</launch>
