<launch>
  <arg name="cmd_topic" default="cmd_vel_mux/input/navi"/>
  <arg name="model_path" default='/home/justin/simulation_data/tensorflow_root/keras/laser-goal-cmd-v10-global_general/2/checkpoints/optimized_model.pb' />
  
  <node name="laser_controller" pkg="p2d_ros" type="laser_controller.py" output="log">
    <param name="model_path" value="$(arg model_path)"/>
    <remap from="goal" to="move_base_simple/goal"/>
    <remap from="cmd" to="$(arg cmd_topic)"/>
  </node>

  <node name="egocircle" pkg="egocircle" type="ego_circle"/>
  
</launch>
    
