<launch>
  <arg name="enable_cc" default="$(optenv GM_PARAM_ENABLE_CC false)"/>
  
  <include file="$(find nav_scripts)/launch/turtlebot_informed_pips_dwa_general.launch">
      <arg name="approach_method" value="1"/>
      <arg name="num_paths" value = "0"/>
      <arg name="num_inferred_paths" value = "0"/>
      <arg name="model_filepath" value=""/>
      <arg name="run_predictive_service" value="false"/>
      <arg name="enable_cc" value="$(arg enable_cc)"/>
  </include>
</launch>

