<?xml version="1.0" ?>
<!--
  This is not a standalone urdf for kobuki. It simply defines the 'kobuki' tag that can
  be incorporated by other urdf files (e.g. turtlebot).

  See kobuki_standalone.urdf.xacro for a standalone urdf to be tested with
      kobuki_description/launch/view_model.launch
 -->
<robot name="turtle_pioneer" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find kobuki_description)/urdf/common_properties.urdf.xacro"/>
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki_gazebo.urdf.xacro"/>

  <!-- Kobuki -->
  <xacro:macro name="kobuki">
    <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
      <origin xyz="0 0 0.0102" rpy="0 0 0" />
      <parent link="base_footprint"/>
      <child link="base_link" />
    </joint>
    <link name="base_link">
        <visual name="base_visual">
            <origin xyz="0 0 0.177" rpy="0 0 0"/>
            <geometry name="pioneer_geom">
                <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/chassis.dae"/>
            </geometry>
            <material name="ChassisRed">
                <color rgba="0.851 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.177" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/chassis.dae"/>
                </geometry>
        </collision>
        
              <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.01 0 0"/>
        <mass value="2.4"/> <!-- 2.4/2.6 kg for small/big battery pack -->
        <!-- Kobuki's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.019995" ixy="0.0" ixz="0.0"
                 iyy="0.019995" iyz="0.0"
                 izz="0.03675" />
      </inertial>
    </link>
    <gazebo reference="base_link">
        <material value="Gazebo/Red"/>
    </gazebo>


<!-- Top -->
    <link name="top_plate">
        <inertial>
            <mass value="0.1"/>
            <origin xyz="-0.025 0 -0.223"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                 iyy="1.0" iyz="0.0"
                izz="1.0"/>
        </inertial>
        <visual name="base_visual">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry name="pioneer_geom">
                <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/top.dae"/>
            </geometry>
            <material name="TopBlack">
                    <color rgba="0.038 0.038 0.038 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="top_plate">
        <material value="Gazebo/Black"/>
    </gazebo>

    <joint name="base_top_joint" type="fixed">
        <origin xyz="0.003 0 0.274" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="top_plate"/>
    </joint>







    <joint name="wheel_left_joint" type="continuous">
      <parent link="base_link"/>
      <child link="wheel_left_link"/>
      <origin xyz="0.00 ${0.23/2} 0.0250" rpy="${-M_PI/2} 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>
    <link name="wheel_left_link">
      <visual>
        <geometry>
          <mesh filename="package://kobuki_description/meshes/wheel.dae"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.0206" radius="0.0352"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0"
                 izz="0.001" />
      </inertial>
    </link>

    <joint name="wheel_right_joint" type="continuous">
      <parent link="base_link"/>
      <child link="wheel_right_link"/>
      <origin xyz="0.00 -${0.23/2} 0.0250" rpy="${-M_PI/2} 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>
    <link name="wheel_right_link">
      <visual>
        <geometry>
          <mesh filename="package://kobuki_description/meshes/wheel.dae"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.0206" radius="0.0350"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0"
                 izz="0.001" />
      </inertial>
    </link>

    <joint name="caster_front_joint" type="fixed">
      <parent link="base_link"/>
      <child link="caster_front_link"/>
      <origin xyz="0.115 0.0 0.007" rpy="${-M_PI/2} 0 0"/>
    </joint>
    <link name="caster_front_link">
      <collision>
        <geometry>
          <cylinder length="0.0176" radius="0.017"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0"
                 izz="0.001" />
      </inertial>
    </link>

    <joint name="caster_back_joint" type="fixed">
      <parent link="base_link"/>
      <child link="caster_back_link"/>
      <origin xyz="-0.135 0.0 0.009" rpy="${-M_PI/2} 0 0"/>
    </joint>
    <link name="caster_back_link">
      <collision>
        <geometry>
          <cylinder length="0.0176" radius="0.017"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0"
                 izz="0.001" />
      </inertial>
    </link>

    <!-- Kobuki's sensors -->
    <joint name="gyro_joint" type="fixed">
      <axis xyz="0 1 0"/>
      <origin xyz="0.056 0.062 0.0202" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="gyro_link"/>
    </joint>
    <link name="gyro_link">
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0"
                 iyy="0.000001" iyz="0"
                 izz="0.0001"/>
      </inertial>
    </link>

    <joint name="cliff_sensor_left_joint" type="fixed">
      <origin xyz="0.08734 0.13601 0.0214" rpy="0 ${M_PI/2} 0" />
      <parent link="base_link"/>
      <child link="cliff_sensor_left_link" />
    </joint>
    <link name="cliff_sensor_left_link">
      <inertial>
        <mass value="0.0001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0"
                 izz="0.0001" />
      </inertial>
    </link>

    <joint name="cliff_sensor_right_joint" type="fixed">
      <origin xyz="0.085 -0.13601 0.0214" rpy="0 ${M_PI/2} 0" />
      <parent link="base_link"/>
      <child link="cliff_sensor_right_link" />
    </joint>
    <link name="cliff_sensor_right_link">
      <inertial>
        <mass value="0.0001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0"
                 izz="0.0001" />
      </inertial>
    </link>

    <joint name="cliff_sensor_front_joint" type="fixed">
      <origin xyz="0.156 0.00 0.0214" rpy="0 ${M_PI/2} 0" />
      <parent link="base_link"/>
      <child link="cliff_sensor_front_link" />
    </joint>
    <link name="cliff_sensor_front_link">
      <inertial>
        <mass value="0.0001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0"
                 izz="0.0001" />
      </inertial>
    </link>

    <!-- Kobuki Gazebo simulation details -->
    <kobuki_sim/>

  </xacro:macro>
  
  
  <!-- Front Axles + Wheels + Hubcaps -->
  <xacro:macro name="p3at_front" params="suffix reflect">
      <link name="p3at_front_${suffix}_axle">
          <!-- <inertial>
              <mass value="0.1"/>
              <origin xyz="0 0 0"/>
              <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                   iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial> -->
      <visual name="base_visual">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry name="pioneer_geom">
              <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/axle.dae"/>
          </geometry>
          <material name="AxleGrey">
              <color rgba="0.5 0.5 0.5 1"/>
          </material>
      </visual>
      <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <box size="0.01 0.01 0.01"/>
          </geometry>
      </collision>
      </link>
      <gazebo reference="p3at_front_${suffix}_axle">
          <material value="Gazebo/Grey"/>
      </gazebo>

      <joint name="base_front_${suffix}_axle_joint" type="fixed">
          <origin xyz="0.135 ${reflect*0.156} 0.111" rpy="0 0 0"/>
          <parent link="base_link"/>
          <child link="p3at_front_${suffix}_axle"/>
      </joint>

      <link name="p3at_front_${suffix}_hub">
          <!-- <inertial>
              <mass value="0.1"/>
              <origin xyz="0 0 0"/>
              <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                   iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial> -->
      <visual name="base_visual">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry name="pioneer_geom">
              <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/${suffix}_hubcap.dae"/>
          </geometry>
          <material name="HubcapYellow">
              <color rgba="1.0 0.811 0.151 1.0"/>
          </material>
      </visual>
      <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <box size="0.01 0.01 0.01"/>
          </geometry>
      </collision>
      </link>
      <gazebo reference="p3at_front_${suffix}_hub">
          <material value="Gazebo/Yellow"/>
      </gazebo>

      <joint name="base_front_${suffix}_hub_joint" type="fixed">
          <origin xyz="0 ${reflect*0.041} 0" rpy="0 0 0"/>
          <parent link="p3at_front_${suffix}_axle"/>
          <child link="p3at_front_${suffix}_hub"/>
      </joint>

      <link name="p3at_front_${suffix}_wheel">
          <!-- <inertial>
              <mass value="0.5"/>
              <origin xyz="0 0 0"/>
              <inertia ixx="0.012411765597" ixy="0" ixz="0"
           iyy="0.015218160428" iyz="0" izz="0.011763977943"/>
        </inertial> -->
      <visual name="base_visual">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry name="pioneer_geom">
              <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/wheel.dae"/>
          </geometry>
          <material name="WheelBlack">
              <color rgba="0.117 0.117 0.117 1"/>
          </material>
      </visual>
      <collision>
          <origin xyz="0 0 0" rpy="${-3.1415927/2} 0 0"/>
          <geometry>
          <!--mesh filename="package://p3at_tutorial/meshes/p3at_meshes/wheel.dae"/-->
          <cylinder radius="0.111" length="0.075"/>
          </geometry>
      </collision>
      </link>
      <gazebo reference="p3at_front_${suffix}_wheel">
          <material value="Gazebo/Black"/>
      </gazebo>

      <joint name="p3at_front_${suffix}_wheel_joint" type="fixed">
        <axis xyz="0 1 0"/>
            <anchor xyz="0 0 0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="p3at_front_${suffix}_hub"/>
        <child link="p3at_front_${suffix}_wheel"/>
      </joint>

  <!-- Back Axles + Wheels + Hubcaps -->
      <link name="p3at_back_${suffix}_axle">
          <!--<inertial>
              <mass value="0.1"/>
              <origin xyz="0 0 0"/>
              <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                   iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial> -->
      <visual name="base_visual">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry name="pioneer_geom">
              <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/axle.dae"/>
          </geometry>
          <material name="AxleGrey">
              <color rgba="0.5 0.5 0.5 1"/>
          </material>
      </visual>
      <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/axle.dae"/>
          </geometry>
      </collision>
      </link>
      <gazebo reference="p3at_back_${suffix}_axle">
          <material value="Gazebo/Grey"/>
      </gazebo>

      <joint name="p3at_back_${suffix}_axle_joint" type="fixed">
          <origin xyz="-0.134 ${reflect*0.156} 0.111" rpy="0 0 0"/>
          <parent link="base_link"/>
          <child link="p3at_back_${suffix}_axle"/>
      </joint>


      <link name="p3at_back_${suffix}_hub">
          <!--<inertial>
              <mass value="0.1"/>
              <origin xyz="0 0 0"/>
              <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                   iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial>-->
      <visual name="base_visual">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry name="pioneer_geom">
              <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/${suffix}_hubcap.dae"/>
          </geometry>
          <material name="HubcapYellow"/>
      </visual>
      <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/${suffix}_hubcap.dae"/>
          </geometry>
      </collision>
      </link>
      <gazebo reference="p3at_back_${suffix}_hub">
          <material value="Gazebo/Yellow"/>
      </gazebo>

      <joint name="p3at_back_${suffix}_hub_joint" type="fixed">
          <origin xyz="-0 ${reflect*0.041} 0" rpy="0 0 0"/>
          <parent link="p3at_back_${suffix}_axle"/>
          <child link="p3at_back_${suffix}_hub"/>
      </joint>

      <link name="p3at_back_${suffix}_wheel">
          <!--<inertial>
              <mass value="0.5"/>
              <origin xyz="0 0 0"/>
              <inertia ixx="0.012411765597" ixy="0" ixz="0"
           iyy="0.015218160428" iyz="0" izz="0.011763977943"/>
        </inertial>-->
      <visual name="base_visual">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry name="pioneer_geom">
              <mesh filename="package://p3at_tutorial/meshes/p3at_meshes/wheel.dae"/>
          </geometry>
          <material name="WheelBlack"/>
      </visual>
      <collision>
          <origin xyz="0 0 0" rpy="${-3.1415927/2} 0 0"/>
          <geometry>
          <!--mesh filename="package://p3at_tutorial/meshes/p3at_meshes/wheel.dae"/-->
          <cylinder radius="0.111" length="0.075"/>
          </geometry>
      </collision>
      </link>
      <gazebo reference="p3at_back_${suffix}_wheel">
          <material value="Gazebo/Black"/>
      </gazebo>



      <joint name="p3at_back_${suffix}_wheel_joint" type="fixed">
        <axis xyz="0 1 0"/>
            <anchor xyz="0 0 0"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <parent link="p3at_back_${suffix}_hub"/>
          <child link="p3at_back_${suffix}_wheel"/>
      </joint>

  </xacro:macro>
  
  <kobuki/>
  <xacro:p3at_front suffix="left" reflect="1"/>
  <xacro:p3at_front suffix="right" reflect="-1"/>
  
   <!-- Camera link -->
    <link name="rs200_camera">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://realsense_gazebo_plugin/models/realsense_camera/meshes/realsense.dae"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="0.0078 0.130 0.0192"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.0615752"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="9.108e-05"
                     ixy="0"
                     ixz="0"
                     iyy="2.51e-06"
                     iyz="0"
                     izz="8.931e-05"
            />
        </inertial>
    </link>

    <!-- Virtual links representing the cameras positons and orientations-->
    <link name="color" />
    <link name="depth" />
    <link name="ired1" />
    <link name="ired2" />

    <!-- Joints positioning the virtual links with respect to the camera main link-->
    <joint name="color_joint" type="fixed">
        <parent link="rs200_camera" />
        <child link="color" />
        <!-- <origin xyz="0 -0.046 0.004" rpy="0 0 0"/> -->
        <!-- The default position is change since in Rviz the cloud depth axis is Z not X-->
        <origin xyz="0 -0.046 0.004" rpy="${pi/2} ${pi} ${pi/2}"/>
    </joint>

    <joint name="depth_joint" type="fixed">
        <parent link="rs200_camera" />
        <child link="depth" />
        <origin xyz="0 -0.03 0.004" rpy="0 0 0"/>
    </joint>

    <joint name="ired1_joint" type="fixed">
        <parent link="rs200_camera" />
        <child link="ired1" />
        <origin xyz="0 -0.06 0.004" rpy="0 0 0"/>
    </joint>

    <joint name="ired2_joint" type="fixed">
        <parent link="rs200_camera" />
        <child link="ired2" />
        <origin xyz="0 0.01 0.004" rpy="0 0 0"/>
    </joint>

    
  <joint name="base_real" type="fixed">
	<origin xyz="0.25 0 0.24" rpy="0 0 0"/>
	<parent link="base_link"/>
	<child link="rs200_camera"/>
  </joint>

<!-- **********************************************************-->
<!-- GAZEBO DEFINITIONS ***************************************-->

    <!-- Load plugin to the model ("robot" in urdf format)-->
    <gazebo>
        <plugin name="realsense_plugin" filename="librealsense_gazebo_plugin.so"/>
        <!--<pose frame="">0 0 0.015 0 0 0</pose>-->
    </gazebo>

    <!-- Load parameters to model's main link-->
    <gazebo reference="rs200_camera">
        <self_collide>0</self_collide>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
        <gravity>1</gravity>
        <!--<mu>1</mu>-->
        <mu2>1</mu2>
        <fdir1>0 0 0</fdir1>
        <!--<slip1>0</slip1>
        <slip2>0</slip2>-->
        <kp>1e+13</kp>
        <kd>1</kd>
        <!--<max_vel>0.01</max_vel>
        <min_depth>0</min_depth>-->

        <sensor name="color" type="camera">
            <pose frame="">0 -0.046 0.004 0 0 0</pose>
            <camera name="__default__">
            <horizontal_fov>1.047</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>RGB_INT8</format>
            </image>
            <clip>
                <near>0.1</near>
                <far>100</far>
            </clip>
            <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.007</stddev>
            </noise>
            </camera>
            <always_on>1</always_on>
            <update_rate>60</update_rate>
            <visualize>1</visualize>
        </sensor>
        <sensor name="ired1" type="camera">
            <pose frame="">0 -0.06 0.004 0 0 0</pose>
            <camera name="__default__">
            <horizontal_fov>1.047</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>L_INT8</format>
            </image>
            <clip>
                <near>0.1</near>
                <far>100</far>
            </clip>
            <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.05</stddev>
            </noise>
            </camera>
            <always_on>1</always_on>
            <update_rate>60</update_rate>
            <visualize>0</visualize>
        </sensor>
        <sensor name="ired2" type="camera">
            <pose frame="">0 0.01 0.004 0 0 0</pose>
            <camera name="__default__">
            <horizontal_fov>1.047</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>L_INT8</format>
            </image>
            <clip>
                <near>0.1</near>
                <far>100</far>
            </clip>
            <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.05</stddev>
            </noise>
            </camera>
            <always_on>1</always_on>
            <update_rate>60</update_rate>
            <visualize>0</visualize>
        </sensor>
        <sensor name="depth" type="depth">
            <pose frame="">0 -0.03 0.004 0 0 0</pose>
            <camera name="__default__">
            <horizontal_fov>1.047</horizontal_fov>
            <image>
                    <width>640</width>
                    <height>480</height>
            </image>
            <clip>
                    <near>0.1</near>
                    <far>100</far>
            </clip>
            <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.100</stddev>
            </noise>
            </camera>
            <always_on>1</always_on>
            <update_rate>60</update_rate>
            <visualize>0</visualize>
        </sensor>
    </gazebo>

  
</robot>
